@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Dancing+Script');

body {
    font-family: "Playfair Display";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 10px;
    padding: 10px;
}

p {
    text-indent: 50px;
    text-align: justify;
}

.sorry {
  font-family: "Dancing Script";
}

hr {
    border: .25px solid #a7a6a6;
}

.top {
    padding-top: 1000px
    padding: 0px;
    font-family: "Dancing Script";
    font-size: 24px;
    text-align: center;
    height: 15%;
    width: 100%;
    background: url('../images/header.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.main {
    height: 60%;
    margin: 0 auto;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.content img {
  display: block;
  margin: 0 auto;
}

.content p {
  text-align: center;
}

.content h1 {
  font-family: "Dancing Script";
  font-size: 36px;
  color: #d2d1d3;
}

.nav {
    list-style: none;
    font-family: "Dancing Script";
    font-size: 24px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline-block;
    float: center;
    font-size: 24px;
    padding: none;
}

.nav p {
    display: inline-block;
    float: left;
    color: #000;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: all .2s ease-in-out;
    padding: 10px;
}

li a:hover {
    transform: scale(1.5);
}
